.slider{
position: relative;
}

.slider-picture img{
    width: 100%;
    height: 400px;
}

.arrow{
    font-size: 40px;
    display: flex;
    
    justify-content: space-around;
    align-items:center ;
}


.slider-dots{
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -80px;
    color: whitesmoke;

}

.slider-dots .current{
    color: blue;
}

.logo , .logo2{
    width: 100px;
    height: 60px;
}